* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    height: 15vh;
    width: 100%;
}
.logo-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img {
    height: 30px;
    /* width: 800px; */
}
nav {
    flex-grow: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    width: fit-content;
    height: 50px;
}
.shopping-cart {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.user-acount {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carousel {
    width: 500px;
    height: 800px;
    /* flex-grow: 3; */
    display: flex;
    flex-flow: column;
    /* margin: 50px; */
}

.carousel img {
    width: 100px;
    height: 100px;
}

.main-product-image {
    width: 400px;
    height: 400px;
}
.main-product-image img {
    width: 500px;
    height: 500px;
}
.grid-product-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
}
.item-container-image {
    width: 100px;
    height: 100px;
}
.description {
    width: 500px;
    /* height: max-content; */
    /* flex-grow: 1; */
    margin: 50px;
    text-align: left;
}
.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
}
